# Supabase (required for auth)
EXPO_PUBLIC_SUPABASE_URL=https://gxtwgaxisunezswbfrcr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_tIH-96RPY_yG-Z3eygOVnQ_xIBRJwWV

# Optional
# APP_VARIANT=development
EXPO_PUBLIC_API_URL=https://app.statxt.com
